# Project Casting Cron at 6PM every day

0 18 * * * cd /app && npm run start:project_casting

# Project Casting Cron at 10AM every day
0 10 * * * cd /app && npm run start:project_casting

# Auditions Free Cron at 6PM every day

0 18 * * * cd /app && npm run start:auditions_free

# All Castings Cron at 6PM every day

0 18 * * * cd /app && npm run start:all_castings

# Add Projects to Melisearch every 10 minutes

*/10 * * * * cd /app && npm run start:add_projects_to_melisearch

# Update project markets

*/10 * * * * cd /app && npm run update:project_markets